<div class="container">
  <div id="card_container" class="card-deck" style="padding: 20px">
    <div class="card">
      <a class="card-body" href="/schools">语言学校查询</a>
    </div>
    <div class="card">
      <a class="card-body" href="/universitys">日本大学分数查询</a>
    </div>
  </div>
</div>

