<div class="container">
  <div class="row" style="padding: 20px">
    <input type="text" id="search_text" style="margin-left: 30px"/>
    <select id="search_select" style="margin-left: 30px">
      <option value="0">大学名检索</option>
      <option value="1">学部名检索</option>
    </select>
    <button class="btn btn-primary" id="bt_search" style="margin-left: 30px">搜索</button>
  </div>
  <div class="row">
    <div id="card_container" class="card-deck" style="padding: 20px"></div>
  </div>


</div>

<%= javascript_include_tag 'universitys/index' %>

<script type="text/javascript">
    $(document).ready(function () {
        init_university_index();
    });
</script>