
<footer style="position:absolute;width:100%;margin-top: 200px;background-color: rgba(0,0,0,0.8);height: 60px;color: #EFEFEF;padding: 20px">
      <span class="txt-color-white small pull-left">©2017 Linc. Linc foreigner</span>
</footer>
<!-- END PAGE FOOTER -->