<footer style="height: 60px">

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <span class="txt-color-white small pull-left">©2016 JpStudyExpress. Study and Express</span>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 hidden-mobile">
      <ul class="list-inline">
        <li>
          <a href="https://minpaku-dashboard.jp/lp/index.html">
            <span class="txt-color-white small">ホーム</span>
          </a>
        </li>
        <li>
          <a href="https://minpaku-dashboard.jp/lp/press.html">
            <span class="txt-color-white small">メディア掲載</span>
          </a>
        </li>
        <li>
          <a href="https://metroengines.jp/about" target="_blank">
            <span class="txt-color-white small">会社概要</span>
          </a>
        </li>
        <li>
          <a href="https://minpaku-dashboard.jp/lp/terms.html">
            <span class="txt-color-white small">特定商取引法表示</span>
          </a>
        </li>
        <li>
          <a href="https://minpaku-dashboard.jp/lp/disclaimer.html">
            <span class="txt-color-white small">免責事項</span>
          </a>
        </li>
        <li>
          <a href="https://minpaku-dashboard.jp/lp/terms_and_conditions.html">
            <span class="txt-color-white small">利用規約</span>
          </a>
        </li>
        <li>
          <a href="https://minpaku-dashboard.jp/lp/privacy_policy.html">
            <span class="txt-color-white small">プライバシーポリシー</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</footer>
<!-- END PAGE FOOTER -->