
<footer class="footer" style="margin-top: 200px;background-color: rgba(0,0,0,0.8);height: 60px;color: #EFEFEF;padding: 20px">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" >
      <span class="txt-color-white small pull-left">©2017 Linc. Linc foreigner</span>
    </div>
</footer>
<!-- END PAGE FOOTER -->