<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">日本留学通</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav bd-navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">首页<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">课程</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">其他</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          账号管理
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

    </ul>
    <ul class="navbar-nav ml-md-auto">
      <li class="nav-item">
        <button type="button" class="btn btn-danger btn-lg" style="cursor: pointer">　注册　</button>
        <button type="button" class="btn btn-primary btn-lg" style="cursor: pointer">　登录　</button>
      </li>
    </ul>
  </div>
</nav>
